body {
	background-color: #f0f0f0;
	background-image: url('../img/bg3.png');
	
}

.header-opac {
	background-color: rgba(0, 138, 230, 0.6);
}

.h-style {

  background-color : #eaeaea; 
}

.section-li {
	background-color: rgb(242, 242, 242);
	/*font-size: 16px;*/
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
}

h3 b {
	color: rgb(0, 138, 230);
}

.nav-tabs {
  margin-bottom: 1rem;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}



